.header {
    display: flex;
    padding-top: 50px;


    &__logo-container {
        display: flex;
    }

    &__logo-wrapper {
        margin-left: (80/1600) * 100%;
        margin-right: (270/1600) * 100%;
        &:hover span {
            color: #000;
        }
    }

    span {
        font-size: 15px;
        color: #fff;
        &:nth-child(2) {
            font-weight: 800;
        }
    }

    &__logo-text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        text-transform: uppercase;
        line-height: 1;

    }

    &__logo {
        width: 30px;
        height: 30px;
    }

    &__link {
        font-size: 15px;
        line-height: 25px;
        margin-left: (49/1600) * 100%;
        color: #fff;
        padding-top: 4px;

        &:hover {
            color: #000;
        }

    }

    &__sing-up {
        font-size: 12px;
        line-height: 1.9;
        color: #fff;
        border-radius: 2px;
        border: solid 1px #ffffff;
        margin-left: auto;
        margin-right: 79/1600 * 100%;
        width: 80px;
        height: 25px;
        text-align: center;
        margin-top: 3px;
        transition: 0.2s;

        &:hover {
            border-color: #000;
            background-color: #000;
        }
    }

    &__burger {
        border: none;
        background: none;
        font-size: 28px;
        position: absolute;
        right: 30px;
        cursor: pointer;
        outline: none;
        display: none;
    }
}


@media (max-width: 720px) {
    .header {

        &__link,
        &__sing-up {
            display: none;
        }

        &__burger {
            display: block;
        }
    }
}

@media (max-width: 1200px) {
    .header__logo-wrapper {
        margin-right: auto;
    }
}