
.video-react .video-react-poster {
    background-size: auto;
    min-width: 600px;
    height: auto;
}

.video-react .video-react-big-play-button{
    width: 60px;
    height: 60px;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #061e37;
    border: none;
    top: 113px;
    left: (((300 - 30) / 600) * 100%);
    font-size: 1.95em;
}

.video-react .video-react-big-play-button::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: static;
    width: 2px;
    height: 2px;
    margin-right: 2px;
}

.video {
    position: relative;
    max-height: 320px;
    &__text {
        position: absolute;
        top: 193 / 320 * 100%;
        font-size: 12px;
        font-weight: bold;
        color: #061e37;
        text-transform: uppercase;
        left: 41%;

    }
}