.card {
    text-align: left;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    margin: 0 auto;
    padding: 15px 20px;
    margin-top: 20px;

    &__head {
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__title {
        margin-left: 25px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__arrow-container {
        display: inline-flex;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        width: 24px;
        height: 24px;
    }
    &__arrow{
        width: 10px;
        height: 10px;
        &-opened {
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
        }
    }

    &__main {
        display: flex;
        margin-top: 20px;
    }

    &__text {
        margin-left: 25px;
        letter-spacing: 0.45px;
        line-height: 25px;
        font-size: 15px;
    }
}